In [25]:
# https://scikit-learn.org/stable/auto_examples/cluster/plot_dbscan.html
# https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html#sklearn.cluster.DBSCAN

In [2]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise_distances_argmin_min

In [3]:
full_data = pd.read_csv("./CalculatedData/full_data.csv")
full_origin = pd.read_csv("./CalculatedData/full_origin.csv")
full_data

,color,node,size,x,y,z,ids
0,13,1,138,-0.208725,0.219800,0.132582,"[0, 58, 61, 68, 69, 86, 118, 133, 150, 176, 20..."
1,44,30,100,0.037689,0.016128,0.001263,"[0, 4, 13, 26, 42, 48, 56, 66, 68, 75, 78, 105..."
2,13,65,147,-0.160575,0.209933,0.013557,"[0, 21, 58, 61, 66, 68, 69, 86, 105, 118, 133,..."
3,31,82,70,-0.001729,0.174677,0.045578,"[0, 3, 8, 17, 21, 50, 53, 94, 108, 115, 118, 1..."
4,44,132,104,-0.100739,-0.051231,0.020037,"[0, 8, 35, 37, 66, 94, 96, 99, 108, 112, 115, ..."
...,...,...,...,...,...,...,...
145,31,72,9,0.566074,0.176044,0.491556,"[131, 149, 153, 204, 291, 311, 484, 603, 667]"
146,31,144,5,0.852971,0.273422,0.653234,"[131, 291, 484, 603, 667]"
147,31,149,5,0.338386,0.250639,0.362729,"[149, 193, 204, 279, 371]"
148,31,138,15,0.487236,0.040850,0.168483,"[166, 183, 288, 321, 340, 360, 513, 515, 539, ..."
149,1,104,2,-0.310026,-1.000000,-0.600141,"[198, 636]"

In [5]:
full_data.iloc[:, -4:-1]

            x         y         z
0   -0.208725  0.219800  0.132582
1    0.037689  0.016128  0.001263
2   -0.160575  0.209933  0.013557
3   -0.001729  0.174677  0.045578
4   -0.100739 -0.051231  0.020037
..        ...       ...       ...
145  0.566074  0.176044  0.491556
146  0.852971  0.273422  0.653234
147  0.338386  0.250639  0.362729
148  0.487236  0.040850  0.168483
149 -0.310026 -1.000000 -0.600141

[150 rows x 3 columns]

In [6]:
def info(input_data):
    db = DBSCAN(eps=0.15, min_samples=10).fit(input_data)
    labels = db.labels_

    # Number of clusters in labels, ignoring noise if present.
    n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
    n_noise_ = list(labels).count(-1)
    
    noise_points = input_data[labels == -1]
    cluster_points = input_data[labels != -1]
    cluster_labels = labels[labels != -1]
    # before process outlier
    full_data['origin_label'] = db.labels_
    
    if len(noise_points) > 0:
        cluster_centers = [cluster_points[cluster_labels == i].mean(axis=0) for i in np.unique(cluster_labels)]
        nearest_clusters, _ = pairwise_distances_argmin_min(noise_points, cluster_centers)
        labels[labels == -1] = nearest_clusters
    # after process outlier
    full_data['new_label'] = labels
    
    print("Estimated number of clusters: %d" % n_clusters_)
    print("Estimated number of noise points: %d" % n_noise_)
    
    return n_clusters_, n_noise_, labels, db

TDD2 = full_data.iloc[:, -4:-1]

get_info2 = info(TDD2)
get_info2

# np.unique(get_info2[2])

Estimated number of clusters: 3
Estimated number of noise points: 9

(3,
 9,
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 1, 1, 1, 1, 1, 0,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 2, 2, 1, 1, 1, 1, 1, 1, 2]),
 DBSCAN(eps=0.15, min_samples=10))

In [10]:
full_data['ids'][0]

'[0, 58, 61, 68, 69, 86, 118, 133, 150, 176, 209, 212, 218, 223, 253, 262, 289, 292, 309, 315, 327, 335, 353, 372, 377, 378, 380, 408, 436, 437, 450, 488, 507, 511, 525, 530, 544, 549, 558, 561, 573, 580, 581, 582, 604, 640, 648, 654, 661, 664, 684, 709, 744, 746, 765, 766, 769, 771, 789, 797, 805, 806, 816, 822, 838, 842, 845, 851, 856, 900, 902, 905, 919, 925, 938, 954, 963, 979, 985, 987, 1003, 1014, 1016, 1019, 1024, 1036, 1061, 1075, 1095, 1100, 1104, 1108, 1109, 1114, 1115, 1120, 1123, 1152, 1162, 1179, 1185, 1187, 1188, 1207, 1216, 1217, 1221, 1223, 1231, 1237, 1240, 1243, 1247, 1248, 1263, 1266, 1274, 1276, 1277, 1282, 1287, 1293, 1295, 1300, 1309, 1322, 1338, 1343, 1359, 1366, 1396, 1401, 1403, 1417, 1421, 1424, 1433, 1438]'

full_data### Count repeat node

In [12]:
count = {}
for key_to_search in full_data['node']:
    ids_to_search = full_data[full_data['node'] == key_to_search]['ids'].values[0]

    number_list = ids_to_search.strip('[]').split(', ')
    number_list = [int(num) for num in number_list]
    # print(number_list)
    
    for num in number_list:
        if num in count:
            count[num] += 1
        else:
            count[num] = 1

# len(count)
# count

### Search Key to find the origin data point

In [4]:
key_to_search = 4
ids_to_search = full_data[full_data['node'] == key_to_search]['ids'].values[0]

number_list = ids_to_search.strip('[]').split(', ')
number_list = [int(num) for num in number_list]

full_origin.loc[number_list].head(10)

,道路類別-第1當事者-名稱,速限-第1當事者,道路型態大類別名稱,事故位置大類別名稱,號誌-號誌種類名稱,車道劃分設施-分向設施大類別名稱,車道劃分設施-分道設施-快車道或一般車道間名稱,車道劃分設施-分道設施-快慢車道間名稱,當事者區分-類別-大類別名稱-車種,事故類型及型態大類別名稱,...,車道劃分設施-分道設施-路面邊線名稱,當事者區分-類別-子類別名稱-車種,事故類型及型態子類別名稱,道路障礙-視距品質名稱,路面狀況-路面缺陷名稱,路面狀況-路面鋪裝名稱,道路障礙-障礙物名稱,new_col,死亡,受傷
1,5,60.0,1,3,1,0,3,2,9,3,...,0,9,3,1,0,1,2,34,1,0
35,2,30.0,1,3,0,0,3,2,10,2,...,1,7,13,1,0,1,2,31,1,0
40,4,40.0,0,0,3,0,1,1,10,3,...,0,7,2,1,0,1,2,6,1,0
51,4,70.0,1,3,1,0,3,1,6,3,...,0,12,22,1,0,1,2,34,1,5
64,2,50.0,1,3,0,0,3,1,10,3,...,0,7,22,1,0,1,2,31,1,1
96,3,40.0,1,3,0,4,0,2,10,2,...,0,7,18,1,0,2,2,44,1,0
137,2,50.0,1,3,0,0,3,2,6,3,...,1,12,2,1,0,1,2,31,1,1
142,2,30.0,0,3,0,2,0,2,10,2,...,0,7,14,1,0,1,2,10,1,0
251,2,50.0,1,3,0,0,3,2,10,2,...,1,7,20,1,0,1,2,31,1,0
308,2,40.0,0,0,2,4,3,1,10,3,...,0,7,1,1,0,1,2,26,1,0

### Add count column

In [74]:
full_origin.loc[1]['count']

0.0

In [13]:
full_origin['count'] = 0

for key, value in count.items():
    full_origin.loc[key, 'count'] = value

full_origin

,道路類別-第1當事者-名稱,速限-第1當事者,道路型態大類別名稱,事故位置大類別名稱,號誌-號誌種類名稱,車道劃分設施-分向設施大類別名稱,車道劃分設施-分道設施-快車道或一般車道間名稱,車道劃分設施-分道設施-快慢車道間名稱,當事者區分-類別-大類別名稱-車種,事故類型及型態大類別名稱,...,當事者區分-類別-子類別名稱-車種,事故類型及型態子類別名稱,道路障礙-視距品質名稱,路面狀況-路面缺陷名稱,路面狀況-路面鋪裝名稱,道路障礙-障礙物名稱,new_col,死亡,受傷,count
0,3,40.0,1,3,0,4,0,2,10,3,...,7,2,1,0,1,2,44,1,1,6
1,5,60.0,1,3,1,0,3,2,9,3,...,9,3,1,0,1,2,34,1,0,8
2,4,40.0,1,3,0,0,0,1,10,2,...,7,13,1,0,1,2,31,1,0,13
3,2,50.0,0,2,2,2,0,2,6,0,...,12,17,1,0,1,2,12,1,0,8
4,5,50.0,1,3,0,0,3,2,8,2,...,3,9,1,0,1,2,31,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437,2,30.0,2,3,0,2,0,2,7,1,...,4,6,1,0,1,2,38,0,1,8
1438,4,70.0,2,3,0,4,1,2,7,0,...,4,3,1,0,1,3,45,0,3,7
1439,2,50.0,2,3,0,3,3,2,7,1,...,3,2,1,0,1,2,40,0,1,1
1440,2,50.0,2,3,0,4,3,2,3,1,...,10,3,1,0,1,2,45,0,1,4
1441,2,60.0,2,3,0,4,3,2,7,1,...,4,2,1,0,1,2,45,0,1,5

In [1]:
# labels = get_info2[2]
# db = get_info2[3]
# n_clusters_ = get_info2[0]

# unique_labels = set(labels)
# core_samples_mask = np.zeros_like(labels, dtype=bool)
# core_samples_mask[db.core_sample_indices_] = True

# colors = [plt.cm.Spectral(each) for each in np.linspace(0, 1, len(unique_labels))]

# fig = plt.figure(figsize=(12, 8), dpi=100)
# ax = fig.add_subplot(111, projection='3d')

# for k, col in zip(unique_labels, colors):
#     if k == -1:
#         # Black used for noise.
#         col = [0, 0, 0, 1]

#     class_member_mask = labels == k

#     xyz = np.array(TDD2)[class_member_mask & core_samples_mask]
#     ax.scatter(
#         xyz[:, 0],
#         xyz[:, 1],
#         xyz[:, 2],
#         c=[tuple(col)],
#         edgecolor='k',
#         s=140,
#     )

#     xyz = np.array(TDD2)[class_member_mask & ~core_samples_mask]
#     ax.scatter(
#         xyz[:, 0],
#         xyz[:, 1],
#         xyz[:, 2],
#         c=[tuple(col)],
#         edgecolor='k',
#         s=60,
#     )

# plt.title(f"Estimated number of clusters: {n_clusters_}")
# plt.show()